@define-mixin atSmall{
  @media only screen and (min-width: 530px){
    @mixin-content;
  }
}

@define-mixin atMedium{
  @media only screen and (min-width: 768px){
    @mixin-content;
  }
}

@define-mixin atLarge{
  @media only screen and (min-width: 992px){
    @mixin-content;
  }
}

@define-mixin atLarger{
  @media only screen and (min-width: 1102px){
    @mixin-content;
  }
}

@define-mixin atLargest{
  @media only screen and (min-width: 1527px){
    @mixin-content;
  }
}

@define-mixin clearfix{
  &:after{
    content: "";
    clear: both;
    display: table;
  }
}
