.btn{
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  color: #000;
  word-spacing: 1.5;

  @mixin atSmall{
    font-size: 1.5rem;
    padding: 18px 36px;
  }
}
