.feature{
  padding-top: 1.4375rem;
  padding-bottom: 2.625rem;

  @mixin atSmall{
    padding-top: 3.4375rem;
    padding-bottom: 5.625rem;
  }

  &__item{
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__item__image-container{
    border: 6px solid $mainYellow;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item__dashed{
    position: absolute;
    top: 50%;
    right: -108%;
    width: 100%;
    height: 7px;
    max-width: 130px;
    display: none;

    @mixin atLarger{
      display: block;
    }
  }

  &__item__title{
    font-weight: 400;
    width: 8.75rem;
    text-align: center;
    font-size: 1.37375rem;
    margin-right: auto;
    margin-left: auto;
  }
}
