.page-section{
  padding: 2rem 0;

  @mixin atMedium{
    padding: 4rem 0;
  }

  &--dirty-white{
    background-color: $dirtyWhite;
  }

  &--testimonials-bg{
    background-color: $mainBrown;

    @mixin atLarge{
      background: url("/assets/images/testimonials-bg-hi-dpi.jpg") no-repeat top center;
      background-size: cover;
    }
  }
}
