.row{

  @mixin clearfix;

  &--gutters{
    margin-right: -69px;
  }

  &--gutters > div{
    padding-right: 69px;
  }

  &--gutters-large > div{
    padding-right: 80px;
  }

  @mixin atLarge{
    &--gutters-large-on-large > div{
      padding-right: 80px;
    }
  }


  @mixin atSmall{
    &__small-6{
      float: left;
      width: 50%;
    }
  }

  @mixin atMedium{
    &--equal-height-on-medium{
      display: flex;

      & > div{
        display: flex;
      }
    }

    &__medium-3{
      width: 25%;
      float: left;
    }

    &__medium-4{
      width: 33.33%;
      float: left;
    }

    &__medium-8{
      width: 66.66%;
      float: left;
    }
  }

  @mixin atLarge{
    &--equal-height-on-large{
      display: flex;

      & > div{
        display: flex;
      }
    }

    &--top-padding-on-large{
      padding-top: 20px;
    }

    &__large-3{
      float: left;
      width: 25%;
    }

    &__large-4{
      float: left;
      width: 33.33%;
    }

    &__large-offset-6{
      margin-left: 50%;
    }

    &__large-6{
      float: left;
      width: 50%;
    }

    &__large-8{
      float: left;
      width: 66.66%;
    }
  }
}
