.social-icons{

  &__icon{
    display: inline-block;
    height: 72px;
    width: 72px;
    background-color: $mainYellow;
    position: relative;
    margin: 0 10px;
  }

  .icon{
    display: block;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(2);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &--close-x{

  }
}
