.testimonials{
  position: relative;

  &__text-content{
  }

  &__testimony{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium{
      float: left;
      margin-right: 28px;
      margin-left: 0;
    }
  }

  &__testimony-info{
    @mixin clearfix;
    padding-top: 4%;
    text-align: center;

    @mixin atMedium{
      text-align: left;
    }
  }

  &__name{
    font-size: 1.875rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .1em;
    text-transform: uppercase;
  }

  &__position{
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
  }

  &__description{
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;

    @mixin atLarge{
      text-align: left;
      width: 34.6875rem;
      margin-bottom: 40px;
    }
  }

  &__next{
    display: block;
    text-align: right;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-weight: 300;

    &:hover{
      text-decoration: underline;
    }

    @mixin atLarge{
      width: 34.6875rem;
    }
  }

  &__link{
    margin-top: 112px;
    text-align: center;
    width: 100%;

    @mixin atLarge{
      width: 34.6875rem;
    }
  }
}
